section.about#about 
  .container 
    .about__content.element-animation 
      h2.about__title. 
        Поможем подобрать ридер
      p.about__descr. 
        Ответьте на несколько вопросов и мы автоматически подберем устройства, удовлетворяющие вашим потребностям.
      button.about__btn(type="button") Начать подбор вашего ридера