section.hero 
  .container 
    .hero__prewie 
      img.hero__img(src="./images/img/img-1.jpg", alt="hero")
      .hero__content 
        h1.hero__title. 
          PocketBook 740 Color
        p.hero__text. 
          Первый в мире крупноформатный 7,8-дюймовый ридер с цветным экраном E Ink
        .hero__info 
          span.hero__price 21 999 ₽
          button.hero__btn КУПИТЬ
    .hero__subscr 
      span. 
        2+1 года гарантии
      span. 
        100% гарантия качества
      span. 
        Возврат-обмен 

