section.model 
  h2.model__title Модельный ряд PocktBook
  .swiper.model__swiper 
      .swiper-wrapper
        - for (var i = 0; i < 3; i++)
          .swiper-slide.model__swiper-slide
            img.model__img(src="./images/img/img-slider.png", alt="img-slide")
            .model__content 
              h3.model__swiper-title PocketBook X
              p.model__text. 
                Экран Mobius 10.3" • Сенсорный экран • Подсветка • Регулировка цветовой температуры • Wi-Fi • Bluetooth 
              p.model__price 29 999 ₽ 
  .container 
    p.model__descr. 
      В линейке PocketBook – более дюжины ридеров. Есть недорогие кнопочные модели для детей и людей солидного возраста. Есть ультрасовременные устройства с цветными экранами E Ink Kaleido. Есть компактные, есть среднеразмерные, а есть и огромная 10,3-дюймовая модель. Есть устройства с защитой от воды. Имеются модели с функцией воспроизведения аудио… В общем, есть из чего выбрать! И мы уверены, что каждый сможет без труда подобрать покетбук под свои нужды.                           

            