section.parameter#parameter 
  .container 
    img.parameter__img(src="./images/img/img-1.jpg", alt="img")
    h2.parameter__title Характеристики
    ul.parameter__list 
      each key, value in {'Дисплей ': '7.8" E Ink®Kaleido™ 1872×1404 (E Ink®Kaleido™ Plus)', 'Оперативная память': '1024', 'Подсветка': 'Да', 'Сенсорный экран': 'Емкостный мультисенсорный', 'Габариты': '195×136,5×8 мм', 'Влагозащита': 'Нет', 'Материал экрана': 'Стекло', 'Количество градаций серого': 'Стекло', 'Цвет': 'Серебристый', 'Батерея': 'Li-Ion, 3,7 В, 2900 мАч, до 25000 страниц без подсветки', 'Процессор': '1 ГГц х 2 (двухъядерный)'}
        li.parameter__item 
          h3.parameter__sub-title= value 
          span.parameter__text= key
    p.parameter__descr. 
      Ридеры PocketBook способны открыть практически любую книгу или документ – от таблицы в формате DOC до финансового отчета в PDF объемом в полгигабайта. Комиксы в CBR и CBZ, сканы в DJVU, книги в FB2 – покетбукам под силу всё! Вам совершенно точно не придется искать книгу в каком-то конкретном формате, потому что «ридер открывает только его». А еще большинство покетбуков позволяет покупать книги в фирменном магазине books.pocketbook.ru. Ассортимент магазина – миллион текстовых и аудиокниг на массе языков, включая русский!
    