section.scope 
  .scope__top 
    .container 
      .scope__content 
        span.scope__subscr. 
          Масса дополнительных возможностей
        img.scope__img.element-animation(src="./images/img/img-3.jpg", alt="scope")
      .scope__prewie
        h2.scope__title.element-animation. 
          Для учебников, бизнес-литературы, комиксов
        p.scope__text.element-animation. 
          Однако форм-фактор «7,8 дюйма» оптимизирован для контента всех этих типов несравнимо лучше – просто за счет куда большей площади дисплея, а также более высокого его разрешения! Не приходится постоянно вглядываться или масштабировать изображение.
  .scope__bottom
    .container 
      p.scope__descr. 
        Все покетбуки могут проработать без подзарядки минимум месяц – и снова благодаря экранам E Ink. Они позволяют доводить показатели автономной работы ридеров до фантастического уровня. Причем месяц – это не предел: все зависит от того, как часто и как долго вы читаете, используете ли Wi-Fi, какую яркость подсветки выбираете и используете ли ее вообще. Если читать по паре часов в день без подсветки, можно без проблем дотянуть и до двух месяцев!
       