section.sub-footer 
  .container 
    p.sub-footer__descr. 
      © 2010-2021 POCKETBOOK INTERNATIONAL SA. Все права защищены.
    ul.sub-footer__list 
      -for (var i = 0; i < 3; i++)
        li.sub-footer__item 
          a.sub-footer__link

