section.usability#usability 
  .usability__top 
    .container 
      .usability__prewie
        h2.usability__title.element-animation. 
          Цветной ридер. Максимально удобный. 
        p.usability__text.element-animation. 
          Благодаря большому цветному 7,8-дюймовому экрану PocketBook 740 Color отлично подходит для учебников, комиксов, журналов, бизнес-литературы с графиками и диаграммами, детских книг, сайтов. Да, все это можно читать и изучать даже на стандартных 6-дюймовых ридерах.
      .usability__content 
        span.usability__subscr. 
          Экран E Ink – полная безопасность для зрения
        img.usability__img.element-animation(src="./images/img/img-2.jpg", alt="usability")
  .usability__bottom
    .container 
      p.usability__descr. 
        Все ридеры PocketBook оснащены экранами E Ink и совершенно безвредны для глаз. Такие экраны не бликуют и не мерцают, они ощущаются глазами как самая обычная бумага – и не оказывают на зрение никакого отрицательного влияния. Это важнейшее отличие ридеров от смартфонов и планшетов, читать с которых крайне нежелательно и даже опасно для глаз
        
