doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/app.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js") 
    script(src="./js/script.min.js")
    title test landing
  body 
    include ./assets/header.pug

    main 
      include ./assets/hero.pug
      include ./assets/usability.pug
      include ./assets/scope.pug
      include ./assets/advantages.pug
      include ./assets/parameter.pug
      include ./assets/model.pug
      include ./assets/about.pug 
    
    include ./assets/footer.pug
    include ./assets/sub-footer.pug